In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import sqlalchemy

Server = "localhost"
Database = "Homeprices_Baku"
Driver = "ODBC Driver 17 for SQL Server" # in order to get this info, click Win + S and write 'odbc', then open drivers menu and scroll down
engine = sqlalchemy.create_engine(f'mssql://@{Server}/{Database}?driver={Driver}')

In [3]:
tbl = pd.read_sql('Select * from Apartments', engine)
tbl

          ID               Location  Rooms   Area  Floor   Price
0          1     7-ci mikrorayon q.      4  182.0  12/13  390000
1          2         İnşaatçılar m.      3  110.0  20/23  237000
2          3               Xırdalan      3  149.0  12/16  198000
3          4        Qara Qarayev m.      1   70.0  10/15  151000
4          5               Xətai r.      2   56.0  12/17  109000
...      ...                    ...    ...    ...    ...     ...
55967  55968           Bakıxanov q.      3  114.0   8/19  150000
55968  55969        Həzi Aslanov m.      3   85.0    6/9  170000
55969  55970           Bakıxanov q.      4  139.0  14/19  190000
55970  55971              Nizami m.      2   46.0    4/5  132000
55971  55972  Elmlər Akademiyası m.      3  135.0  11/18  250000

[55972 rows x 6 columns]

In [4]:
tbl.isna().sum()

ID          0
Location    0
Rooms       0
Area        0
Floor       0
Price       0
dtype: int64

In [5]:
tbl['Floor'] = tbl['Floor'].apply(lambda x: float(x.split('/')[0]) / float(x.split('/')[1]))
tbl

          ID               Location  Rooms   Area     Floor   Price
0          1     7-ci mikrorayon q.      4  182.0  0.923077  390000
1          2         İnşaatçılar m.      3  110.0  0.869565  237000
2          3               Xırdalan      3  149.0  0.750000  198000
3          4        Qara Qarayev m.      1   70.0  0.666667  151000
4          5               Xətai r.      2   56.0  0.705882  109000
...      ...                    ...    ...    ...       ...     ...
55967  55968           Bakıxanov q.      3  114.0  0.421053  150000
55968  55969        Həzi Aslanov m.      3   85.0  0.666667  170000
55969  55970           Bakıxanov q.      4  139.0  0.736842  190000
55970  55971              Nizami m.      2   46.0  0.800000  132000
55971  55972  Elmlər Akademiyası m.      3  135.0  0.611111  250000

[55972 rows x 6 columns]

In [6]:
tbl.dtypes

ID            int64
Location     object
Rooms         int64
Area        float64
Floor       float64
Price         int64
dtype: object

In [7]:
df = tbl.drop(['ID'], axis = 'columns')
df

                    Location  Rooms   Area     Floor   Price
0         7-ci mikrorayon q.      4  182.0  0.923077  390000
1             İnşaatçılar m.      3  110.0  0.869565  237000
2                   Xırdalan      3  149.0  0.750000  198000
3            Qara Qarayev m.      1   70.0  0.666667  151000
4                   Xətai r.      2   56.0  0.705882  109000
...                      ...    ...    ...       ...     ...
55967           Bakıxanov q.      3  114.0  0.421053  150000
55968        Həzi Aslanov m.      3   85.0  0.666667  170000
55969           Bakıxanov q.      4  139.0  0.736842  190000
55970              Nizami m.      2   46.0  0.800000  132000
55971  Elmlər Akademiyası m.      3  135.0  0.611111  250000

[55972 rows x 5 columns]

In [8]:
location_stats = df.groupby('Location')['Location'].agg('count').sort_values(ascending = False)
location_stats

Location
Nəriman Nərimanov m.    3469
İnşaatçılar m.          3446
Şah İsmayıl Xətai m.    2800
Nəsimi r.               2740
Həzi Aslanov m.         2637
                        ...
Maştağa q.                 1
2-ci mikrorayon q.         1
Qəbələ                     1
Qobustan q.                1
1-ci mikrorayon q.         1
Name: Location, Length: 131, dtype: int64

In [9]:
location_stats_less_than_10 = location_stats[location_stats <= 10]
location_stats_less_than_10

Location
Aşağı Güzdək q.       10
Xocəsən q.             8
Mingəçevir             8
Yeni Suraxanı q.       7
Qaradağ r.             7
6-cı mikrorayon q.     7
Sahil q.               7
Yeni Ramana q.         7
NZS q.                 6
Şirvan                 6
Bülbülə q.             6
Xəzər r.               6
Xaçmaz                 6
Müşfiqabad q.          5
4-cü mikrorayon q.     5
Lənkəran               5
Şimal DRES q.          4
Kürdəxanı q.           4
Massiv G q.            4
20-ci sahə q.          4
Suraxanı q.            4
Pirallahı r.           4
Bibi Heybət q.         3
Qusar                  3
Quba                   3
Bərdə                  2
5-ci mikrorayon q.     2
Xutor q.               2
Görədil q.             2
Keşlə q.               2
3-cü mikrorayon q.     2
28 May q.              2
Naxçıvan               2
Astara                 2
Şamaxı                 1
Zuğulba q.             1
Şüvəlan q.             1
İsmayıllı              1
Şəki                   1
Pirşağı q.             1
Balakən                1
Balaxanı q.            1
Beyləqan               1
Fatmayı q.             1
Qala q.                1
Xudat                  1
Ulduz m.               1
Masallı                1
Massiv A q.            1
Maştağa q.             1
2-ci mikrorayon q.     1
Qəbələ                 1
Qobustan q.            1
1-ci mikrorayon q.     1
Name: Location, dtype: int64

In [10]:
len(location_stats_less_than_10.keys())

54

In [11]:
df['price_per_sqft'] = df['Price'] / df['Area']
df

                    Location  Rooms   Area     Floor   Price  price_per_sqft
0         7-ci mikrorayon q.      4  182.0  0.923077  390000     2142.857143
1             İnşaatçılar m.      3  110.0  0.869565  237000     2154.545455
2                   Xırdalan      3  149.0  0.750000  198000     1328.859060
3            Qara Qarayev m.      1   70.0  0.666667  151000     2157.142857
4                   Xətai r.      2   56.0  0.705882  109000     1946.428571
...                      ...    ...    ...       ...     ...             ...
55967           Bakıxanov q.      3  114.0  0.421053  150000     1315.789474
55968        Həzi Aslanov m.      3   85.0  0.666667  170000     2000.000000
55969           Bakıxanov q.      4  139.0  0.736842  190000     1366.906475
55970              Nizami m.      2   46.0  0.800000  132000     2869.565217
55971  Elmlər Akademiyası m.      3  135.0  0.611111  250000     1851.851852

[55972 rows x 6 columns]

In [12]:
df['Location'] = df['Location'].apply(lambda x : 'other' if x in location_stats_less_than_10 else x)
df[df['Location'] == 'other']

      Location  Rooms   Area     Floor   Price  price_per_sqft
375      other      3   72.2  0.500000   71000      983.379501
648      other      3   75.0  0.500000   67000      893.333333
2109     other      4  215.0  0.571429  720000     3348.837209
2341     other      2   90.7  1.000000  120000     1323.042999
2883     other      3  147.0  0.882353  248000     1687.074830
...        ...    ...    ...       ...     ...             ...
53905    other      5  110.0  0.333333  185000     1681.818182
54131    other      2   72.0  0.727273   77000     1069.444444
54201    other      3   80.0  0.125000  128000     1600.000000
54305    other      2   70.0  0.500000   83500     1192.857143
54455    other      3  135.0  0.235294  250000     1851.851852

[177 rows x 6 columns]

In [13]:
df['price_per_sqft'].describe()

count    55972.000000
mean      2281.849248
std        764.298638
min        220.000000
25%       1842.105263
50%       2203.947368
75%       2631.578947
max      28666.666667
Name: price_per_sqft, dtype: float64

In [14]:
[*df.groupby('Location')]

[('20 Yanvar m.',
             Location  Rooms   Area     Floor   Price  price_per_sqft
  15     20 Yanvar m.      3   95.8  0.857143  182978     1910.000000
  67     20 Yanvar m.      4  143.0  0.187500  280000     1958.041958
  185    20 Yanvar m.      3   96.0  0.400000  200000     2083.333333
  190    20 Yanvar m.      3   65.0  0.200000  145000     2230.769231
  203    20 Yanvar m.      3  121.0  0.888889  268000     2214.876033
  ...             ...    ...    ...       ...     ...             ...
  55877  20 Yanvar m.      4  118.0  0.294118  240000     2033.898305
  55883  20 Yanvar m.      3  131.0  0.684211  290000     2213.740458
  55920  20 Yanvar m.      3  140.0  0.631579  275000     1964.285714
  55931  20 Yanvar m.      3  118.0  0.466667  224000     1898.305085
  55951  20 Yanvar m.      2   95.0  0.250000  140000     1473.684211

  [1244 rows x 6 columns]),
 ('28 May m.',
          Location  Rooms   Area     Floor   Price  price_per_sqft
  14     28 May m.      3   95.0  0.900000  410000     4315.789474
  83     28 May m.      2   65.0  0.250000  270000     4153.846154
  105    28 May m.      4  200.0  0.777778  255000     1275.000000
  212    28 May m.      3  100.0  0.285714  470000     4700.000000
  215    28 May m.      8  350.0  0.500000  850000     2428.571429
  ...          ...    ...    ...       ...     ...             ...
  55811  28 May m.      3  110.0  0.800000  316000     2872.727273
  55915  28 May m.      2   63.0  0.400000  189000     3000.000000
  55925  28 May m.      3  100.0  0.500000  192000     1920.000000
  55927  28 May m.      3  125.0  0.166667  270000     2160.000000
  55955  28 May m.      4  264.0  0.300000  660000     2500.000000

  [2242 rows x 6 columns]),
 ('7-ci mikrorayon q.',
                   Location  Rooms   Area     Floor   Price  price_per_sqft
  0      7-ci mikrorayon q.      4  182.0  0.923077  390000     2142.857143
  61     7-ci mikrorayon q.      2   86.5  0.937500  129750     1500.000000
  90     7-ci mikrorayon q.      2   57.0  1.000000  133000     2333.333333
  222    7-ci mikrorayon q.      2   45.0  0.400000   83500     1855.555556
  386    7-ci mikrorayon q.      3  137.0  0.500000  245000     1788.321168
  ...                   ...    ...    ...       ...     ...             ...
  55190  7-ci mikrorayon q.      4  182.0  0.923077  390000     2142.857143
  55218  7-ci mikrorayon q.      2   50.0  0.700000  134500     2690.000000
  55351  7-ci mikrorayon q.      3   85.0  0.300000  189000     2223.529412
  55449  7-ci mikrorayon q.      2   42.0  0.400000  125000     2976.190476
  55887  7-ci mikrorayon q.      3  130.0  0.352941  279000     2146.153846

  [371 rows x 6 columns]),
 ('8 Noyabr m.',
            Location  Rooms   Area     Floor   Price  price_per_sqft
  41     8 Noyabr m.      4  180.0  0.814815  585000     3250.000000
  49     8 Noyabr m.      4  143.5  0.714286  415000     2891.986063
  51     8 Noyabr m.      3  105.0  0.666667  230000     2190.476190
  73     8 Noyabr m.      1   50.5  0.625000  131805     2610.000000
  79     8 Noyabr m.      2   82.3  0.312500  202458     2460.000000
  ...            ...    ...    ...       ...     ...             ...
  55677  8 Noyabr m.      4  178.0  0.176471  399000     2241.573034
  55768  8 Noyabr m.      2  101.0  1.000000  150000     1485.148515
  55862  8 Noyabr m.      3  115.0  0.266667  265000     2304.347826
  55865  8 Noyabr m.      2  103.0  0.629630  330000     3203.883495
  55947  8 Noyabr m.      2  105.0  0.407407  309000     2942.857143

  [1769 rows x 6 columns]),
 ('8-ci kilometr q.',
                 Location  Rooms   Area     Floor   Price  price_per_sqft
  129    8-ci kilometr q.      3  136.0  0.214286  186000     1367.647059
  2538   8-ci kilometr q.      2   60.0  0.944444  120000     2000.000000
  5078   8-ci kilometr q.      2  110.0  0.850000  212000     1927.272727
  5084   8-ci kilometr q.      3  140.0  0.578947  278000     1985.714286
  6828   8-ci kilometr q.      2   50.0  0.400000   95000     1900.000000
  ...                 ...    ...    ...       ...     ...             ...
  53658  8-ci kilometr q.      3  120.6  1.000000  174870     1450.000000
  54791  8-ci kilometr q.      2   50.0  0.428571  115000     2300.000000
  55248  8-ci kilometr q.      3  139.6  0.388889  215000     1540.114613
  55279  8-ci kilometr q.      2   83.0  0.833333  163000     1963.855422
  55591  8-ci kilometr q.      5  110.0  0.888889  205000     1863.636364

  [62 rows x 6 columns]),
 ('8-ci mikrorayon q.',
                   Location  Rooms   Area     Floor   Price  price_per_sqft
  990    8-ci mikrorayon q.      2  105.2  0.875000  181000     1720.532319
  1575   8-ci mikrorayon q.      3  114.0  0.941176  260000     2280.701754
  1789   8-ci mikrorayon q.      2   72.0  0.388889  198000     2750.000000
  1960   8-ci mikrorayon q.      4  195.0  0.588235  565000     2897.435897
  2849   8-ci mikrorayon q.      4  195.0  0.588235  565000     2897.435897
  ...                   ...    ...    ...       ...     ...             ...
  55136  8-ci mikrorayon q.      3   82.0  0.777778  167000     2036.585366
  55256  8-ci mikrorayon q.      2   65.0  0.200000  126000     1938.461538
  55266  8-ci mikrorayon q.      3  160.0  0.562500  425000     2656.250000
  55585  8-ci mikrorayon q.      2   70.0  1.000000  132800     1897.142857
  55896  8-ci mikrorayon q.      2   65.0  1.000000  134000     2061.538462

  [299 rows x 6 columns]),
 ('9-cu mikrorayon q.',
                   Location  Rooms   Area     Floor   Price  price_per_sqft
  476    9-cu mikrorayon q.      4  131.0  0.500000  237000     1809.160305
  520    9-cu mikrorayon q.      2   85.0  0.857143  160000     1882.352941
  582    9-cu mikrorayon q.      2   62.0  0.562500  154000     2483.870968
  625    9-cu mikrorayon q.      1   46.0  0.555556   95000     2065.217391
  667    9-cu mikrorayon q.      2   60.0  0.777778  142900     2381.666667
  ...                   ...    ...    ...       ...     ...             ...
  55423  9-cu mikrorayon q.      2   50.0  0.111111  107000     2140.000000
  55740  9-cu mikrorayon q.      3   65.0  0.222222  152000     2338.461538
  55746  9-cu mikrorayon q.      3   65.0  0.222222  148000     2276.923077
  55829  9-cu mikrorayon q.      2   60.0  1.000000  130000     2166.666667
  55889  9-cu mikrorayon q.      2   88.0  0.666667  185000     2102.272727

  [485 rows x 6 columns]),
 ('Abşeron r.',
           Location  Rooms   Area     Floor   Price  price_per_sqft
  475    Abşeron r.      3   96.0  0.500000  109000     1135.416667
  819    Abşeron r.      3   78.3  0.750000   95000     1213.282248
  1046   Abşeron r.      1   71.0  0.750000   62500      880.281690
  1225   Abşeron r.      2   50.0  0.909091   70000     1400.000000
  1704   Abşeron r.      3   83.0  0.769231  123000     1481.927711
  ...           ...    ...    ...       ...     ...             ...
  54911  Abşeron r.      3   96.0  0.500000  109000     1135.416667
  55145  Abşeron r.      3  165.0  1.000000   82000      496.969697
  55187  Abşeron r.      2   87.1  0.687500  119000     1366.245695
  55225  Abşeron r.      2   57.0  0.769231   80000     1403.508772
  55593  Abşeron r.      2   76.0  0.769231  120000     1578.947368

  [206 rows x 6 columns]),
 ('Avtovağzal m.',
              Location  Rooms   Area     Floor   Price  price_per_sqft
  2422   Avtovağzal m.      2   70.0  0.812500  110000     1571.428571
  3011   Avtovağzal m.      2   70.0  0.235294  144000     2057.142857
  3265   Avtovağzal m.      3  105.0  0.631579  212500     2023.809524
  3543   Avtovağzal m.      2   70.0  0.058824  133000     1900.000000
  3552   Avtovağzal m.      2   65.0  1.000000   94000     1446.153846
  ...              ...    ...    ...       ...     ...             ...
  51839  Avtovağzal m.      4  145.0  0.764706  280000     1931.034483
  53768  Avtovağzal m.      2   55.0  1.000000   95000     1727.272727
  54023  Avtovağzal m.      3  100.0  0.705882  200000     2000.000000
  55563  Avtovağzal m.      5  140.0  0.200000  170000     1214.285714
  55772  Avtovağzal m.      3   96.0  0.666667  200000     2083.333333

  [84 rows x 6 columns]),
 ('Azadlıq Prospekti m.',
                     Location  Rooms   Area     Floor   Price  price_per_sqft
  128    Azadlıq Prospekti m.      3   85.0  0.400000  190000     2235.294118
  139    Azadlıq Prospekti m.      2   55.0  0.400000  113000     2054.545455
  156    Azadlıq Prospekti m.      3  141.0  0.500000  253000     1794.326241
  193    Azadlıq Prospekti m.      4  215.0  0.888889  425000     1976.744186
  254    Azadlıq Prospekti m.      2   74.0  0.176471  187000     2527.027027
  ...                     ...    ...    ...       ...     ...             ...
  55763  Azadlıq Prospekti m.      3  112.0  0.941176  260000     2321.428571
  55776  Azadlıq Prospekti m.      2   65.0  0.888889  185000     2846.153846
  55839  Azadlıq Prospekti m.      2   63.0  0.333333  165000     2619.047619
  55864  Azadlıq Prospekti m.      2   50.0  0.588235  147000     2940.000000
  55922  Azadlıq Prospekti m.      2   70.0  0.888889  129000     1842.857143

  [1344 rows x 6 columns]),
 ('Ağ şəhər q.',
            Location  Rooms   Area     Floor   Price  price_per_sqft
  226    Ağ şəhər q.      2   50.0  0.428571  300000     6000.000000
  364    Ağ şəhər q.      2   68.0  0.650000  390000     5735.294118
  462    Ağ şəhər q.      4  160.0  0.285714  650000     4062.500000
  495    Ağ şəhər q.      3   78.1  0.571429  370000     4737.516005
  707    Ağ şəhər q.      3  123.6  0.950000  395520     3200.000000
  ...            ...    ...    ...       ...     ...             ...
  55631  Ağ şəhər q.      5  253.0  0.500000  695750     2750.000000
  55639  Ağ şəhər q.      3  100.4  1.000000  371480     3700.000000
  55818  Ağ şəhər q.      3  101.0  0.428571  414000     4099.009901
  55941  Ağ şəhər q.      2   65.1  0.150000  185535     2850.000000
  55942  Ağ şəhər q.      2   81.0  1.000000  257000     3172.839506

  [752 rows x 6 columns]),
 ('Badamdar q.',
            Location  Rooms   Area     Floor   Price  price_per_sqft
  56     Badamdar q.      3  134.0  0.187500  234500     1750.000000
  209    Badamdar q.      3   75.0  0.600000  115000     1533.333333
  373    Badamdar q.      2   60.0  0.200000   70000     1166.666667
  421    Badamdar q.      3  134.4  0.166667  295000     2194.940476
  570    Badamdar q.      4  187.0  0.894737  590000     3155.080214
  ...            ...    ...    ...       ...     ...             ...
  55569  Badamdar q.      3   93.0  0.857143  240000     2580.645161
  55632  Badamdar q.      2   70.0  0.866667  160000     2285.714286
  55676  Badamdar q.      2   70.0  0.812500  160000     2285.714286
  55694  Badamdar q.      2   92.0  0.466667  172000     1869.565217
  55698  Badamdar q.      3   95.0  1.000000  150000     1578.947368

  [563 rows x 6 columns]),
 ('Bakmil m.',
          Location  Rooms   Area     Floor   Price  price_per_sqft
  490    Bakmil m.      3  100.0  0.187500  230000     2300.000000
  3519   Bakmil m.      3   70.0  0.400000  155000     2214.285714
  6757   Bakmil m.      2   70.0  0.666667  185000     2642.857143
  12580  Bakmil m.      3  105.0  0.214286  250000     2380.952381
  17460  Bakmil m.      2   76.0  0.705882  185000     2434.210526
  22084  Bakmil m.      2   55.0  0.400000  130000     2363.636364
  22164  Bakmil m.      2   55.0  0.400000  130000     2363.636364
  24375  Bakmil m.      4  147.4  0.789474  300000     2035.278155
  24914  Bakmil m.      3  140.0  0.714286  260000     1857.142857
  25374  Bakmil m.      1   33.0  0.800000  105000     3181.818182
  28453  Bakmil m.      2   65.0  0.705882  185000     2846.153846
  30416  Bakmil m.      3   93.0  0.214286  235000     2526.881720
  30928  Bakmil m.      2   66.0  0.705882  189000     2863.636364
  34935  Bakmil m.      2   65.0  0.705882  189000     2907.692308
  37257  Bakmil m.      2   55.0  0.400000  142000     2581.818182
  38200  Bakmil m.      3   93.0  0.214286  265000     2849.462366
  38218  Bakmil m.      2   45.0  0.800000  130000     2888.888889
  40338  Bakmil m.      3   93.0  0.214286  250000     2688.172043
  41937  Bakmil m.      2   70.0  0.307692  154000     2200.000000
  50359  Bakmil m.      3   93.0  0.214286  250000     2688.172043
  51455  Bakmil m.      3   76.0  0.705882  177000     2328.947368
  51721  Bakmil m.      2   75.0  0.823529  180000     2400.000000
  51871  Bakmil m.      2   76.0  0.705882  177000     2328.947368
  55080  Bakmil m.      2   86.0  0.571429  245000     2848.837209),
 ('Bakıxanov q.',
             Location  Rooms   Area     Floor   Price  price_per_sqft
  102    Bakıxanov q.      4  110.0  0.777778  220000     2000.000000
  188    Bakıxanov q.      3  116.5  0.733333  320000     2746.781116
  281    Bakıxanov q.      3  102.0  0.750000  275000     2696.078431
  357    Bakıxanov q.      5  120.0  0.142857  190000     1583.333333
  463    Bakıxanov q.      3   60.7  0.111111  129000     2125.205931
  ...             ...    ...    ...       ...     ...             ...
  55876  Bakıxanov q.      2   40.0  0.333333   83000     2075.000000
  55926  Bakıxanov q.      2   85.0  0.800000  122000     1435.294118
  55953  Bakıxanov q.      2   70.0  0.400000  139900     1998.571429
  55967  Bakıxanov q.      3  114.0  0.421053  150000     1315.789474
  55969  Bakıxanov q.      4  139.0  0.736842  190000     1366.906475

  [802 rows x 6 columns]),
 ('Bayıl q.',
         Location  Rooms   Area     Floor   Price  price_per_sqft
  302    Bayıl q.      3  118.0  0.666667  235000     1991.525424
  311    Bayıl q.      1   26.0  0.500000   73000     2807.692308
  534    Bayıl q.      2  115.5  0.727273  341040     2952.727273
  742    Bayıl q.      1   26.0  0.500000   73000     2807.692308
  844    Bayıl q.      3  117.0  0.866667  300000     2564.102564
  ...         ...    ...    ...       ...     ...             ...
  55242  Bayıl q.      3  153.0  0.647059  350000     2287.581699
  55244  Bayıl q.      3  275.4  0.636364  771120     2800.000000
  55534  Bayıl q.      4  164.0  0.705882  290000     1768.292683
  55599  Bayıl q.      2   94.5  0.470588  165000     1746.031746
  55959  Bayıl q.      2   84.0  0.333333  280000     3333.333333

  [420 rows x 6 columns]),
 ('Biləcəri q.',
            Location  Rooms   Area     Floor   Price  price_per_sqft
  229    Biləcəri q.      2   68.0  0.812500  110000     1617.647059
  595    Biləcəri q.      3   65.0  0.750000  130000     2000.000000
  624    Biləcəri q.      2   65.0  0.400000   99000     1523.076923
  655    Biləcəri q.      4   71.0  0.600000  135000     1901.408451
  658    Biləcəri q.      3   80.0  0.400000  117000     1462.500000
  ...            ...    ...    ...       ...     ...             ...
  54248  Biləcəri q.      4  100.0  1.000000   95000      950.000000
  54481  Biləcəri q.      3   75.0  1.000000  128000     1706.666667
  55393  Biləcəri q.      2   40.0  1.000000   77000     1925.000000
  55403  Biləcəri q.      2   70.0  0.055556  144000     2057.142857
  55466  Biləcəri q.      3   72.0  0.600000  126000     1750.000000

  [202 rows x 6 columns]),
 ('Binə q.',
        Location  Rooms   Area     Floor   Price  price_per_sqft
  9431   Binə q.      3  101.0  0.857143  180000     1782.178218
  15413  Binə q.      2   50.0  0.600000   75000     1500.000000
  17455  Binə q.      3   80.0  0.800000   92000     1150.000000
  24822  Binə q.      3   86.0  0.500000   68800      800.000000
  26958  Binə q.      2   44.0  0.200000   67000     1522.727273
  40438  Binə q.      5  120.0  1.000000  110000      916.666667
  40492  Binə q.      3   80.0  0.500000   69000      862.500000
  41506  Binə q.      5  120.0  1.000000  110000      916.666667
  49584  Binə q.      2   45.0  0.600000   75000     1666.666667
  51218  Binə q.      3   84.4  0.800000   92000     1090.047393
  51725  Binə q.      3   80.0  0.500000   69000      862.500000
  52454  Binə q.      3   72.4  0.400000  108000     1491.712707),
 ('Binəqədi q.',
            Location  Rooms   Area     Floor   Price  price_per_sqft
  1153   Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  1283   Binəqədi q.      2   66.0  1.000000   33500      507.575758
  1639   Binəqədi q.      2   69.1  0.333333  114000     1649.782923
  4623   Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  5625   Binəqədi q.      2   45.0  1.000000   37000      822.222222
  6412   Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  7085   Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  7382   Binəqədi q.      3  180.0  1.000000  195000     1083.333333
  7500   Binəqədi q.      2   62.0  0.941176   84000     1354.838710
  8679   Binəqədi q.      3   82.0  0.800000  190000     2317.073171
  9396   Binəqədi q.      3  120.0  0.666667  135000     1125.000000
  13160  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  13167  Binəqədi q.      3   60.0  1.000000   80000     1333.333333
  13468  Binəqədi q.      2   69.1  0.333333  114000     1649.782923
  15721  Binəqədi q.      2   70.0  0.411765  106000     1514.285714
  15788  Binəqədi q.      3   90.0  0.764706  142000     1577.777778
  16746  Binəqədi q.      2   69.1  0.333333  114000     1649.782923
  16934  Binəqədi q.      3   94.0  0.285714  109000     1159.574468
  17949  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  18619  Binəqədi q.      4  225.0  1.000000  140000      622.222222
  18846  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  19154  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  19882  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  21885  Binəqədi q.      1   48.0  0.533333   60000     1250.000000
  22345  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  24137  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  24267  Binəqədi q.      3   94.0  0.687500  140000     1489.361702
  25674  Binəqədi q.      2   65.0  0.875000   90000     1384.615385
  25887  Binəqədi q.      2   55.0  0.285714   70000     1272.727273
  26209  Binəqədi q.      2   69.1  0.333333  114000     1649.782923
  26976  Binəqədi q.      2  100.0  1.000000   35000      350.000000
  31756  Binəqədi q.      1   57.0  0.875000   80000     1403.508772
  33406  Binəqədi q.      2   69.1  0.333333  114000     1649.782923
  33994  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  35104  Binəqədi q.      2   72.0  0.900000  195000     2708.333333
  36148  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  36321  Binəqədi q.      3  120.0  0.285714  102000      850.000000
  36768  Binəqədi q.      1   51.5  0.500000   52000     1009.708738
  38642  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  38692  Binəqədi q.      3  139.0  0.833333  252000     1812.949640
  42593  Binəqədi q.      2   61.0  0.375000   85000     1393.442623
  42843  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  43995  Binəqədi q.      3   94.0  0.947368  178000     1893.617021
  44214  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  44267  Binəqədi q.      2   51.0  0.625000   85000     1666.666667
  45888  Binəqədi q.      2   50.5  0.600000   60000     1188.118812
  50065  Binəqədi q.      3   53.0  1.000000   77000     1452.830189
  50567  Binəqədi q.      2   68.0  0.800000   54400      800.000000
  50568  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  50669  Binəqədi q.      2   66.7  0.625000   99500     1491.754123
  50756  Binəqədi q.      1   45.0  0.750000   55000     1222.222222
  51744  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  52276  Binəqədi q.      2   66.0  1.000000   33500      507.575758
  53191  Binəqədi q.      3   80.0  0.285714   96500     1206.250000
  53243  Binəqədi q.      2   65.0  0.888889  142000     2184.615385

In [15]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('Location'):
        m = np.mean(subdf['price_per_sqft'])
        sd = np.std(subdf['price_per_sqft'])
        reduced_df = subdf[(subdf["price_per_sqft"] > (m - sd)) & (subdf["price_per_sqft"] <= (m + sd))]
        df_out = pd.concat([df_out, reduced_df], ignore_index = True)
    return df_out
df = remove_pps_outliers(df)
df.shape

(41989, 6)

In [16]:
def remove_room_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('Location'):
        room_stats = {}
        for room, room_df in location_df.groupby('Rooms'):
            room_stats[room] = {
                'mean' : np.mean(room_df['price_per_sqft']),
                'std' : np.std(room_df['price_per_sqft']),
                'count' : room_df.shape[0]
            }
        for room, room_df in location_df.groupby('Rooms'):
            stats = room_stats.get(room - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, room_df[room_df['price_per_sqft'] < stats['mean']].index.values)
    return df.drop(exclude_indices, axis = 'index')

df = remove_room_outliers(df)
df.shape

(19176, 6)

In [17]:
df['Rooms'].unique()

array([ 2,  3,  4,  1,  8,  5,  6,  7, 11, 10,  9, 20], dtype=int64)

In [18]:
df[df['Rooms'] > 10]

             Location  Rooms    Area     Floor    Price  price_per_sqft
7563         Bayıl q.     11   585.0  0.421053  1700000     2905.982906
26752       Nəsimi r.     20  1000.0  0.666667  1700000     1700.000000
29971       Səbail r.     11   585.0  0.473684  1690000     2888.888889
30110       Səbail r.     11   585.0  0.562500  1690000     2888.888889
38514  İçəri Şəhər m.     11   585.0  0.529412  1700000     2905.982906

In [19]:
df.drop(['price_per_sqft'], axis = 'columns', inplace = True)
df

           Location  Rooms   Area     Floor   Price
5      20 Yanvar m.      2   61.0  0.625000  156000
9      20 Yanvar m.      2   55.0  0.461538  140000
10     20 Yanvar m.      3  113.4  0.588235  287000
13     20 Yanvar m.      2   55.0  0.461538  140000
14     20 Yanvar m.      3  107.0  0.882353  274000
...             ...    ...    ...       ...     ...
41981    Əmircan q.      3   80.0  0.400000  125000
41982    Əmircan q.      3   54.0  1.000000   90000
41983    Əmircan q.      3   48.0  1.000000   80000
41986    Əmircan q.      2   40.0  0.200000   58500
41988    Əmircan q.      2   49.0  0.750000   71000

[19176 rows x 5 columns]

In [20]:
df1 = pd.get_dummies(data = df, columns = ['Location'])
df1.drop(['Location_other'], axis = 'columns', inplace = True)
df1

,Rooms,Area,Floor,Price,Location_20 Yanvar m.,Location_28 May m.,Location_7-ci mikrorayon q.,Location_8 Noyabr m.,Location_8-ci kilometr q.,Location_8-ci mikrorayon q.,...,Location_Yeni Yasamal q.,Location_Zabrat q.,Location_Zığ q.,Location_İnşaatçılar m.,Location_İçəri Şəhər m.,Location_Şah İsmayıl Xətai m.,Location_Şıxov q.,Location_Əhmədli m.,Location_Əhmədli q.,Location_Əmircan q.
5,2,61.0,0.625000,156000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,2,55.0,0.461538,140000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,3,113.4,0.588235,287000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,2,55.0,0.461538,140000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,3,107.0,0.882353,274000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41981,3,80.0,0.400000,125000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41982,3,54.0,1.000000,90000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41983,3,48.0,1.000000,80000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41986,2,40.0,0.200000,58500,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
41988,2,49.0,0.750000,71000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [21]:
df1.replace({True : 1, False : 0}, inplace = True)
df1

,Rooms,Area,Floor,Price,Location_20 Yanvar m.,Location_28 May m.,Location_7-ci mikrorayon q.,Location_8 Noyabr m.,Location_8-ci kilometr q.,Location_8-ci mikrorayon q.,...,Location_Yeni Yasamal q.,Location_Zabrat q.,Location_Zığ q.,Location_İnşaatçılar m.,Location_İçəri Şəhər m.,Location_Şah İsmayıl Xətai m.,Location_Şıxov q.,Location_Əhmədli m.,Location_Əhmədli q.,Location_Əmircan q.
5,2,61.0,0.625000,156000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2,55.0,0.461538,140000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,113.4,0.588235,287000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2,55.0,0.461538,140000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,107.0,0.882353,274000,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41981,3,80.0,0.400000,125000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41982,3,54.0,1.000000,90000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41983,3,48.0,1.000000,80000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41986,2,40.0,0.200000,58500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41988,2,49.0,0.750000,71000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
x = df1.drop(['Price'], axis = 'columns')
y = df1['Price']

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 10)

In [24]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(x_train, y_train)
lr_clf.score(x_test, y_test)

0.9530897054297752

In [25]:
x

,Rooms,Area,Floor,Location_20 Yanvar m.,Location_28 May m.,Location_7-ci mikrorayon q.,Location_8 Noyabr m.,Location_8-ci kilometr q.,Location_8-ci mikrorayon q.,Location_9-cu mikrorayon q.,...,Location_Yeni Yasamal q.,Location_Zabrat q.,Location_Zığ q.,Location_İnşaatçılar m.,Location_İçəri Şəhər m.,Location_Şah İsmayıl Xətai m.,Location_Şıxov q.,Location_Əhmədli m.,Location_Əhmədli q.,Location_Əmircan q.
5,2,61.0,0.625000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2,55.0,0.461538,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,3,113.4,0.588235,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,2,55.0,0.461538,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,107.0,0.882353,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41981,3,80.0,0.400000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41982,3,54.0,1.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41983,3,48.0,1.000000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41986,2,40.0,0.200000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
41988,2,49.0,0.750000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
df

           Location  Rooms   Area     Floor   Price
5      20 Yanvar m.      2   61.0  0.625000  156000
9      20 Yanvar m.      2   55.0  0.461538  140000
10     20 Yanvar m.      3  113.4  0.588235  287000
13     20 Yanvar m.      2   55.0  0.461538  140000
14     20 Yanvar m.      3  107.0  0.882353  274000
...             ...    ...    ...       ...     ...
41981    Əmircan q.      3   80.0  0.400000  125000
41982    Əmircan q.      3   54.0  1.000000   90000
41983    Əmircan q.      3   48.0  1.000000   80000
41986    Əmircan q.      2   40.0  0.200000   58500
41988    Əmircan q.      2   49.0  0.750000   71000

[19176 rows x 5 columns]

In [27]:
res_std = {}
for key, subdf in df.groupby('Location'):
    res_std[key] = np.std(subdf['Price'])
res_std

{'20 Yanvar m.': 79233.55860041188,
 '28 May m.': 185191.708872017,
 '7-ci mikrorayon q.': 76449.67564438883,
 '8 Noyabr m.': 109133.2410279587,
 '8-ci kilometr q.': 66780.69834105036,
 '8-ci mikrorayon q.': 76116.2603988571,
 '9-cu mikrorayon q.': 43529.71712405133,
 'Abşeron r.': 37875.293284009334,
 'Avtovağzal m.': 47734.463743982924,
 'Azadlıq Prospekti m.': 80216.45379172536,
 'Ağ şəhər q.': 223293.1807435705,
 'Badamdar q.': 74312.75605026378,
 'Bakmil m.': 43495.2871010182,
 'Bakıxanov q.': 66987.51546032577,
 'Bayıl q.': 313249.64849070954,
 'Biləcəri q.': 24245.400390548926,
 'Binə q.': 16052.210732100271,
 'Binəqədi q.': 23456.392765975233,
 'Binəqədi r.': 92225.06327286591,
 'Buzovna q.': 126590.75685934666,
 'Böyükşor q.': 0.0,
 'Ceyranbatan q.': 24060.109910158117,
 'Dərnəgül m.': 53189.6223574732,
 'Elmlər Akademiyası m.': 198604.59414405227,
 'Günəşli q.': 9752.027523357721,
 'Gənclik m.': 156838.3397962906,
 'Gəncə': 22883.638252121957,
 'Hövsan q.': 16183.17178028996,
 'Həzi Aslanov m.': 50430.35893632674,
 'Həzi Aslanov q.': 63684.76195184889,
 'Koroğlu m.': 78497.96632625365,
 'Kubinka q.': 20088.071391870795,
 'Köhnə Günəşli q.': 35707.2099687164,
 'Lökbatan q.': 19126.919637526997,
 'M.Ə.Rəsulzadə q.': 30969.702113187846,
 'Masazır q.': 27642.769330666197,
 'Massiv D q.': 15901.488632207414,
 'Massiv V q.': 30274.783236218223,
 'Mehdiabad q.': 34068.42379682395,
 'Memar Əcəmi m.': 60078.81707608376,
 'Məmmədli q.': 29128.45907403414,
 'Mərdəkan q.': 22230.701330202184,
 'Nardaran q.': 186134.02083031338,
 'Neftçilər m.': 84520.78892575687,
 'Nizami m.': 216010.99957995105,
 'Nizami r.': 56488.091081682905,
 'Nəriman Nərimanov m.': 120496.83214024613,
 'Nərimanov r.': 96723.66975307143,
 'Nəsimi m.': 81617.71564700952,
 'Nəsimi r.': 266175.88474104536,
 'Qara Qarayev m.': 63347.966663177984,
 'Qaraçuxur q.': 150695.76759578145,
 'Ramana q.': 6600.0,
 'Sabunçu q.': 35970.24711738787,
 'Sabunçu r.': 111155.70541430265,
 'Sahil m.': 343700.67540969333,
 'Saray q.': 15318.371323348967,
 'Sumqayıt': 56177.45944056225,
 'Suraxanı r.': 33075.01334748798,
 'Səbail r.': 263645.2534242993,
 'Xalqlar Dostluğu m.': 45988.59714014196,
 'Xocəsən m.': 31344.693265660895,
 'Xırdalan': 39325.1875288857,
 'Xətai r.': 118533.0520975848,
 'Yasamal q.': 163303.7701979757,
 'Yasamal r.': 104864.51568532625,
 'Yeni Günəşli q.': 37331.30339056053,
 'Yeni Yasamal q.': 30886.16820936955,
 'Zabrat q.': 21860.18469405561,
 'Zığ q.': 25007.33542799164,
 'other': 65656.53154272393,
 'İnşaatçılar m.': 86367.69871528985,
 'İçəri Şəhər m.': 281910.96019500017,
 'Şah İsmayıl Xətai m.': 257242.90210510843,
 'Şıxov q.': 123197.67412639492,
 'Əhmədli m.': 56564.72680214341,
 'Əhmədli q.': 77529.95503101435,
 'Əmircan q.': 17495.678478758655}

In [29]:
def predict_price(location, Rooms, Area, Floor):    
    try:
        loc_index = np.where(x.columns==f'Location_{location}')[0][0]
    except:
        loc_index = -1
        location = 'other'
    
    X = np.zeros(len(x.columns))
    X[0] = Rooms
    X[1] = Area
    X[2] = Floor
    if loc_index >= 0:
        X[loc_index] = 1
        
    ans = lr_clf.predict([X])[0]
    return f'{ans - 0.1 * res_std.get(location, 0)} - {ans + 0.1 * res_std.get(location, 0)}'

In [35]:
predict_price('20 Yanvar m.', 2, 85, 3 / 14)

'212146.91351298155 - 227993.62523306394'

In [31]:
import pickle
with open('azerbaijan_apt_prices_model.pickle', 'wb') as f:
    pickle.dump(lr_clf, f)

In [36]:
import json
columns = {
    'data_columns' : [col.lower() for col in x.columns]
}
with open('columns.json', 'w') as f:
    f.write(json.dumps(columns))